<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup Form</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      background-color: #f8f8f8;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    form {
      background: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    label {
      display: block;
      margin: 10px 0;
      color: #333;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-sizing: border-box;
    }

    button {
      width: 100%;
      padding: 15px;
      border: none;
      border-radius: 5px;
      background: #333;
      color: #fff;
      cursor: pointer;
    }

    button:hover {
      background: #555;
    }

    p {
      text-align: center;
      margin-top: 20px;
      color: #555;
    }

    a {
      color: #333;
      text-decoration: none;
      font-weight: bold;
    }

    a:hover {
      color: #555;
    }
    #errorMessage{
      height: 10px;
      color: red;
      
    }
  </style>
</head>
<body>
  <form action="/signup" method="post">
    <label for="username">Enter Username</label>
    <input id="inputUsername" type="text" name="username" placeholder="Your username">

    <label for="email">Enter Email</label>
    <input id="inputEmail" type="email" name="email" placeholder="Your email@example.com" >

    <label for="password">Enter Password</label>
    <input id="inputPassword" type="password" name="password" placeholder="********" >

    <label for="confirmPassword">Confirm Password</label>
    <input type="password" name="confirmPassword" placeholder="********" >

    <p id="errorMessage"></p>

    <button type="submit" onclick="validateSignup()">Sign Up</button>

    <p>Already have an account? <a href="/login">Login here</a>.</p>
  </form>
</body>
<script src="../public/signupValidation.js"></script>
</html>
