<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #f8f8f8;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        form {
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        label {
            display: block;
            margin: 10px 0;
            color: #333;
            font-weight: bold;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
        }

        button {
            width: 100%;
            padding: 15px;
            border: none;
            border-radius: 5px;
            background: #333;
            color: #fff;
            cursor: pointer;
        }

        button:hover {
            background: #555;
        }

        p {
            text-align: center;
            margin-top: 20px;
            color: #555;
        }

        a {
            color: #333;
            text-decoration: none;
            font-weight: bold;
        }

        a:hover {
            color: #555;
        }

        #errorMessage {
            color: red;
            height: 10px;
        }
    </style>
</head>

<body>
    <form action="/login" method="post">
        <label for="email">Enter Email</label>
        <input type="email" name="email" placeholder="Your email@example.com" value="shaheer@admin.com">
        <label for="password">Enter Password</label>
        <input type="password" name="password" placeholder="********" value="AdminShr@0">
        <p id="errorMessage">
            <%= message %>
        </p>
        <button>Login</button>
        <p>Don't have an account? <a href="/">Signup</a></p>
    </form>
</body>

</html>